/* Cores:
#9899A6 Lavander grey
#02CF54 Malachite
#F7FF58 Canary Yellow
#FF934F Tangerine dream
#718F94 Slate grey
*/

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #F7FF58;
}

header { 
    background-color:#02CF54;
    color: #b9bced;
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

#criadores {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}